/Day 4/.idea/.idea.Day4/.idea/.gitignore
/Day 4/.idea/.idea.Day4/.idea/encodings.xml
/Day 4/.idea/.idea.Day4/.idea/indexLayout.xml
/Day 4/.idea/.idea.Day 4.dir/.idea/.gitignore
/Day 4/.idea/.idea.Day 4.dir/.idea/encodings.xml
/Day 4/.idea/.idea.Day 4.dir/.idea/indexLayout.xml
/Day 4/.idea/.idea.Day 4.dir/.idea/vcs.xml
/Day 4/bin/Debug/net10.0/Day4
/Day 4/bin/Debug/net10.0/Day4.deps.json
/Day 4/bin/Debug/net10.0/Day4.dll
/Day 4/bin/Debug/net10.0/Day4.pdb
/Day 4/bin/Debug/net10.0/Day4.runtimeconfig.json
/Day 4/obj/Debug/net10.0/ref/Day4.dll
/Day 4/obj/Debug/net10.0/refint/Day4.dll
/Day 4/obj/Debug/net10.0/.NETCoreApp,Version=v10.0.AssemblyAttributes.cs
/Day 4/obj/Debug/net10.0/apphost
/Day 4/obj/Debug/net10.0/Day4.AssemblyInfo.cs
/Day 4/obj/Debug/net10.0/Day4.AssemblyInfoInputs.cache
/Day 4/obj/Debug/net10.0/Day4.assets.cache
/Day 4/obj/Debug/net10.0/Day4.csproj.CoreCompileInputs.cache
/Day 4/obj/Debug/net10.0/Day4.csproj.FileListAbsolute.txt
/Day 4/obj/Debug/net10.0/Day4.dll
/Day 4/obj/Debug/net10.0/Day4.GeneratedMSBuildEditorConfig.editorconfig
/Day 4/obj/Debug/net10.0/Day4.genruntimeconfig.cache
/Day 4/obj/Debug/net10.0/Day4.GlobalUsings.g.cs
/Day 4/obj/Debug/net10.0/Day4.pdb
/Day 4/obj/Debug/net10.0/Day4.sourcelink.json
/Day 4/obj/Day4.csproj.nuget.dgspec.json
/Day 4/obj/Day4.csproj.nuget.g.props
/Day 4/obj/Day4.csproj.nuget.g.targets
/Day 4/obj/project.assets.json
/Day 4/obj/project.nuget.cache
/Day 4/obj/project.packagespec.json
/Day 4/obj/rider.project.model.nuget.info
/Day 4/obj/rider.project.restore.info
